@import url('https://v1.fontapi.ir/css/SFProDisplay:100;200;300;400;500;600;700;800;900');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  height: 100%;
}


html, body {
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: SF Pro Display, sans-serif;
}




